@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background: #e0eafc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cfdef3, #e0eafc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    max-width: 650px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-and-button {
    display: flex;
    align-items: center; /* Aligns dropdown and button horizontally */
    gap: 10px; /* Space between dropdown and button */
}

.add-variety-button {
    height: 50px;
}

#variety-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
    max-width: 100%;
    /*height: 350px;*/
    display: block;
}

.photo-display {
    height: 350px;
    margin: 10px auto;
}

.button-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20%;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button i {
    pointer-events: none; /* Disable pointer events on the icon */
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-red {
    background-color: #e74c3c;
    color: white;
}

.button-blue {
    background-color: #3498db;
    color: white;
}

.pushy__btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: flex;
    border: none;
    border-radius: .3em;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    padding: .5em 1.5em .75em;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.pushy__btn:active {
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
    margin-top: .25em;
    padding-bottom: .5em;
}

.pushy__btn:active, .pushy__btn:focus {
    outline: none;
}

.pushy__btn--blue {
    background-color: #1199EE;
}

.pushy__btn--green {
    background-color: #10ac84;
}

.pushy__btn--red {
    background-color: #EE4444;
}

.pushy__btn--lg {
    font-size: 1.5em;
}

.pushy__btn--df {
    font-size: 1.25em;
}

.pushy__btn--md {
    font-size: 1em;
}

.pushy__btn--sm {
    font-size: 0.75em;
}

i {
    margin-right: 10px;
}

#photo-drag-container {
    margin-top: 20px;
    position: relative; /* Enable stacking for drag area overlay */
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#photo-preview-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-preview {
    max-width: 100%;
    background-color: white; /* Initially white */
    object-fit: contain; /* Preserve aspect ratio */
}

.drag-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.65);
    border: 3px dashed #e0eafc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.drag-area:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #aaa;
}

.drag-area .icon {
    font-size: 50px;
    color: #1683ff;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #1683ff;
}

#prompt-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#prompt-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
